#headercontainer {
    background-color: #851010 !important;
}

#containernav a:hover {
    background-color: #a91515 !important;
    color: #fff;
}

#iconperson {
    border: 1px solid #851010 !important;
}

#a:hover,
#b:hover,
#c:hover {
    color: #851010 !important;
    fill: #851010 !important;
}

#fundocriarproduto {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#headercriarproduto {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 25px;
}

#headercriarproduto .ionicon {
    width: 40px !important;
    height: 40px !important;
}

#criarproduto {
    width: 30%;
    height: 85%;
    background-color: #c7c7c7;
    border-radius: 12px;
    border: 1px solid #b6b6b6;
}

#menuprodutos {
    width: 30%;
    height: 80%;
    border-radius: 20px;
}

#dadosproduto {
    height: 60%;
    border-radius: 20px;
    display: grid;
    align-items: center;
    justify-content: center;
}

#tituloproduto {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a91515;
    cursor: pointer;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

#titulopronto {
    background-color: #851010;
}

#listarprodutos,
#editarproduto {
    width: 100%;
    height: 40%;
    background-color: #c7c7c7;
    border-radius: 12px;
    border: 1px solid #b6b6b6;
    display: grid;
    align-items: center;
    justify-content: center;
}

#editarproduto {
    margin-top: 23%;
}

#fotoproduto,
#nomeproduto,
#descricaoproduto,
#precoproduto,
#botaoexcluir,
#botaoenviar,
#botaolistar {
    width: 300px;
    height: 45px;
    border-radius: 5px;
    border: none;
    background-color: #ebebeb;
    border: 1px solid #b6b6b6;
    outline: none;
    padding-left: 20px;
    transition: 0.3s;
    cursor: pointer;
}

#fotoproduto:hover,
#nomeproduto:hover,
#descricaoproduto:hover,
#precoproduto:hover {
    background-color: #d8d8d8d8;
}

.inputmargin,
.btn {
    margin-bottom: 5px;
}

#fotoproduto {
    display: flex;
    align-items: center;
    justify-content: center;
}

#botaoenviar,
#botaoexcluir,
#botaolistar {
    background-color: #a91515;
    color: #fff;
}

#botaoenviar:hover,
#botaoexcluir:hover,
#botaolistar:hover {
    background-color: #851010;
}

#botaoenviar,
#botaoexcluir,
#botaolistar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#botaolistar {
    width: 100% !important;
}

#footerdadosprodutos {
    margin-top: 10px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#buscar {
    margin-left: 5px;
    height: 40px;
    width: 45px;
    background-color: #a91515;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    font-size: 12px;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#buscar:hover {
    background-color: #851010;
}

#lupa {
    width: 25px;
    height: 25px;
}

#fundoinput {
    display: flex;
    align-items: center;
    justify-content: center;
}

#alertaerro,
#alertasucesso {
    width: 0px;
    height: 50px;
    background-color: rgb(146, 1, 1);
    color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 10px;
    margin-bottom: 25px;
    margin-right: 50px;
    transition: 0.2s;
}

#alertasucesso {
    background-color: green !important;
}

@media(max-width: 1000px) {
    #menuprodutos {
        width: 40%;
    }
    #criarproduto {
        width: 40%;
    }
}

@media(max-width: 800px) {
    #fundocriarproduto {
        display: grid;
    }
    #menuprodutos {
        width: 100%;
        padding: 50px;
    }
    #criarproduto {
        margin-top: 20px;
        width: 100%;
        padding: 50px;
        height: 95%;
    }
    #botaoenviar {
        margin-top: 75px;
    }
}

@media(max-width: 600px) {
    #containernav a {
        width: 80px;
        font-size: 14px;
    }
    #icon {
        width: 60px;
        height: 60px;
    }
}