.containerprodutos{
    width: 80%;
    height: 75%;
    text-align: center;
}

#produto{
    height: 200px;
    background-color: #c7c7c7;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    margin: 5px;
    border-radius: 12px;
    z-index: 1;
    width: 90%;
    border: 1px solid #b6b6b6;
}

#imgproduto{
    border-radius: 12px;
    margin-left: 10px;
    border: 1px solid #b6b6b6;
}


.produtoinfos{
    width: 100%;
    height: 100%;
}

.produtoname{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    font-size: 20px;
    box-sizing: border-box;
}

.produtoname p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
}


.produtodesc{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 16px;
    padding-right: 10px;
    font-size: 12px;
    text-align: justify;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

.produtofooter{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.preco{
    width: 50%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    background-color: #d46815;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.preco:hover{
    background-color: #964406;
}

.estrelas .ionicon{
    width: 25px;
    height: 25px;
    color: rgb(180, 143, 21);
    cursor: pointer;
}

.preco .ionicon{
    margin-top: 3px;
    width: 25px;
    height: 25px;
    fill: #eeeeee;
}

.preco p{
    font-size: 20px;
    font-weight: 600;
    color: #eeeeee;
}


#fundocarrinho{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#carrinho{
    width: 80%;
    height: 80%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

#fundotitulo{
    width: 90%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#fundodofundodotitulo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#titulo{
    font-size: 20px;
    background-color: #d46815;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#titulo:hover{
    background-color: #964406;
}

#x{
    height: 30px;
    width: 30px;
    background-color: #d46815;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 15px;
}

#person .ionicon{
    fill: #fff;
    width: 22px;
    position: relative;
    margin-left: 0;
}

#botaocomprar{
    margin-top: 15px;
    background-color: #d46815;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
    color: #fff;
    width: 150px;
    height: 50px;
    border: none;
}

#botaocomprar:hover{
    background-color: #964406;
}

@media(max-width: 700px){
    .containerprodutos{
        width: 100% !important;
    }

    #produto{
        width: 95%;
    }
}

@media(max-width: 600px){
    #containernav a{
        width: 80px;
        font-size: 14px;
    }

    #icon{
        width: 60px;
        height: 60px;
    }
}