#procurarprodutos {
    width: 100%;
    height: 50px;
    background-color: #c7c7c7;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid #b6b6b6;
}

#inputprocurar {
    width: 400px;
    height: 40px;
    border: 1px solid #b6b6b6;
    background-color: #eeeeee;
    border-radius: 5px;
    margin-right: 5px !important;
}

#inputprocurar:hover {
    background-color: #dddddd;
}

#inputproduto {
    margin-left: 35px;
    font-size: 14px;
    width: 80%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
}

#containerprodutos {
    text-align: center;
}

.produto {
    width: 500px;
    height: 200px;
    background-color: #c7c7c7;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    margin: 20px;
    border-radius: 12px;
    z-index: 1;
    border: 1px solid #b6b6b6;
}

.produto img {
    border-radius: 12px;
    margin-left: 10px;
    border: 1px solid #b6b6b6;
}

.produtoinfos {
    width: 100%;
    height: 100%;
}

.produtoname {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 15px;
    font-size: 20px;
    box-sizing: border-box;
}

.produtodesc {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 16px;
    padding-right: 10px;
    font-size: 12px;
    text-align: justify;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

.produtofooter {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.estrelas {
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preco {
    width: 40%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    background-color: #d46815;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
}

.preco:hover {
    background-color: #964406;
}

.estrelas .ionicon {
    width: 25px;
    height: 25px;
    color: rgb(165, 162, 154);
    cursor: pointer;
}

.estrelas .ionicon:hover {
    color: rgb(180, 143, 21);
}

.preco .ionicon {
    width: 25px;
    height: 25px;
    fill: #eeeeee;
}

.preco p {
    font-size: 20px;
    font-weight: 600;
    color: #eeeeee;
}

#inputprocurar .ionicon {
    position: absolute;
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-left: 10px;
    background-color: #c0c0c0;
    border-radius: 50%;
    padding: 5px;
    fill: #eeeeee;
}

#inputprocurar .ionicon:hover {
    background-color: #acacac;
}

#person .ionicon {
    fill: #fff;
    width: 22px;
    position: relative;
    margin-left: 0;
}

#put {
    display: flex;
    align-items: center;
    justify-content: center;
}

#btcinput {
    width: 75px;
    height: 40px;
    margin-right: 20px;
    border-radius: 8px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #d46815;
}

@media(max-width: 600px) {
    #containernav a {
        width: 80px;
        font-size: 14px;
    }
    #icon {
        width: 60px;
        height: 60px;
    }
    .produto {
        width: 100%;
        margin: 0px;
        margin-top: 10px;
    }
    #procurarprodutos {
        justify-content: center;
    }
    .produtodesc {
        width: 90%;
    }
}