* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    outline: none;
    color: rgb(81, 53, 17);
}

body {
    width: 100%;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1587241321921-91a834d6d191?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGJha2VyeXxlbnwwfHwwfHw=&w=1000&q=80');
    background-size: 100%;
    display: flex;
    justify-content: center;
}

#fundovoltar {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 15px;
    left: 15px;
    border-radius: 50%;
    background-color: #a95415;
    transition: 0.3s;
    cursor: pointer;
}

svg {
    color: #fff;
}

#fundovoltar:hover {
    background-color: #9c4604;
}

#divlogo {
    margin-left: 40px;
    position: absolute;
    top: 80px;
    margin-right: 250px;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 150px;
    border-radius: 20px;
}

#logo {
    position: absolute;
    margin-top: 65px;
    margin-left: 130px;
    width: 80px;
    height: 80px;
}

#container {
    width: 30%;
    min-width: 350px;
    height: 420px;
    background-color: #fff;
    border-radius: 10px;
    display: grid;
    align-items: flex-start;
    justify-content: flex-start;
    box-shadow: 0px 0px 20px rgb(44, 44, 44);
    margin-top: 60px;
    background-image: url('http://1.bp.blogspot.com/-NdDzxlAMI0I/VH3Gkv1neqI/AAAAAAAACBA/BlHgy8Rb8tY/s1600/efeit%2Bonda.png');
    background-position: 0 -130PX;
}

#footercontainer{
    margin-top: 30px;
}

#submitgoogle {
    width: 100%;
    height: 50px;
}

#inputdiv {
    margin-top: 130px;
    width: 100%;
    height: 200px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    color: rgb(81, 53, 17);
    text-decoration: none;
}

#login,
#senha,
#subimit,
#registro {
    margin-top: 25px;
    width: 300px;
    height: 45px;
    border-radius: 5px;
    border: none;
    background-color: #ebebeb;
    border: 1px solid #b6b6b6;
    outline: none;
    padding-left: 20px;
    transition: 0.3s;
}

#login:hover,
#senha:hover {
    border: 1px solid #9b9b9b;
}

#registro {
    background-color: transparent;
    cursor: default;
    color: transparent;
    font-weight: 200 !important;
}

#subimit {
    width: 180px !important;
    text-align: center;
    padding-left: 0px !important;
    cursor: pointer;
    background-color: #a95415;
    color: white;
    border:  none !important;
}

#subimit:hover {
    background-color: #9c4604;
}

#googlediv {
    bottom: 20%;
    left: 40%;
    position: absolute;
}

#google {
    width: 300px;
}

#registrese {
    margin-top: 20px;
}

#registrese:hover{
    text-decoration: underline;
}

.log {
    position: absolute;
}

#spanlogin,
#spansenha,
#spannome {
    color: #6b6b6b;
    font-size: 0px;
    margin-left: -300px;
    transition: 0.3s;
}

#footercontainer {
    width: 100%;
}

#alertaerro {
    width: 0px;
    height: 50px;
    background-color: rgb(146, 1, 1);
    color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 10px;
    margin-bottom: 25px;
    margin-right: 50px;
    transition: 0.3s;
}

#fundogoogle{
    margin-top: 100px;
}

#google{
    width: 100%;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

#google:hover{
    background-color: #cacaca;
}

#imggoogle{
    width: 30px;
    margin-right: 15px;
}