<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gran Pão - Login</title>
</head>

<body>
    <div id="divlogo">
        <h1>Login Admin</h1>
    </div>


    <div id="fundovoltar" (click)="voltar()">
        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><title>Arrow Back</title><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M244 400L100 256l144-144M120 256h292"/></svg>
    </div>

    <img id="logo" src="https://www.zarla.com/images/zarla-gran-po-1x1-2400x2400-20210611-v84xt4gkt84j6kgwrf3t.png?crop=1:1,smart&width=80&dpr=2" alt="">

    <div id="container">
        <div id="inputdiv">
            <input id="login" (click)="loginn()" [(ngModel)]="login" type="text" placeholder="Login"><span class="log" id="spanlogin">Login</span>
            <input id="senha" (click)="senhaa()" [(ngModel)]="senha" type="password" placeholder="Senha"><span class="log" id="spansenha">Senha</span>


            <div id="footercontainer">
                <button id="subimit" (click)="entrar(login, senha)">ENTRAR</button>
            </div>

        </div>
    </div>



    <div id="alertaerro">
        Erro ao logar-se
    </div>

</body>

</html>