* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    outline: none;
    color: rgb(81, 53, 17);
}

#termos {
    text-decoration: underline !important;
    color: #9c4604;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1587241321921-91a834d6d191?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGJha2VyeXxlbnwwfHwwfHw=&w=1000&q=80');
    background-size: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}

#divlogo {
    margin-left: 40px;
    position: absolute;
    top: 80px;
    margin-right: 250px;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 150px;
    border-radius: 20px;
}

#logo {
    position: absolute;
    margin-top: 65px;
    margin-left: 130px;
    width: 80px;
    height: 80px;
}

#container {
    width: 30%;
    min-width: 350px;
    height: 580px;
    background-color: #fff;
    border-radius: 10px;
    display: grid;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgb(44, 44, 44);
    margin-top: 60px;
    background-image: url('http://1.bp.blogspot.com/-NdDzxlAMI0I/VH3Gkv1neqI/AAAAAAAACBA/BlHgy8Rb8tY/s1600/efeit%2Bonda.png');
    background-position: 0 -130PX;
}

#fundoinputicon {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

#inputicon {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: #a95415;
    border-radius: 10px;
    color: #fff;
    margin-top: 35px;
    cursor: pointer;
}

#check {
    margin-right: 5px;
}

#checkbox {
    margin-top: 30px;
    font-size: 14px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

#inputdiv {
    width: 100%;
    margin-top: 110px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    color: rgb(81, 53, 17);
    text-decoration: none;
}

#login,
#senha,
#subimit,
#registro {
    margin-top: 25px;
    width: 300px;
    height: 45px;
    border-radius: 5px;
    border: none;
    background-color: #ebebeb;
    border: 1px solid #b6b6b6;
    outline: none;
    padding-left: 20px;
    transition: 0.3s;
}

#login:hover,
#senha:hover {
    border: 1px solid #9b9b9b;
}


#subimit {
    margin-top: 50px !important;
    width: 180px !important;
    text-align: center;
    padding-left: 0px !important;
    cursor: pointer;
    background-color: #a95415;
    color: white;
    border:  none !important;
}

#subimit:hover {
    background-color: #9c4604;
}

#googlediv {
    bottom: 20%;
    left: 40%;
    position: absolute;
}

#google {
    width: 300px;
}

#registrese {
    margin-top: 20px;
}

#registrese:hover{
    text-decoration: underline;
}

.log {
    position: absolute;
}

#spanlogin,
#spansenha,
#spannome {
    font-size: 0px;
    margin-left: -300px;
    transition: 0.3s;
    color: #6b6b6b;
}

#alertaerro {
    width: 0px;
    height: 50px;
    background-color: rgb(146, 1, 1);
    color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 10px;
    margin-bottom: 25px;
    margin-right: 50px;
    transition: 0.2s;
}