body {
    overflow-y: hidden;
}

#maincontainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#profilebackground {
    width: 100%;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#divisiononebackground,
#historico {
    height: 40vh;
    width: 40vw;
    border-radius: 5px;
    background-color: #c7c7c7;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid #b6b6b6;
}

#historico {
    margin-left: 50px;
    width: 30%;
    height: 60vh !important;
    display: block !important;
}

#headerhistorico {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
    margin-left: 20px;
}

#adicionardinheiro {
    width: 80%;
    height: 70%;
    background-color: #d46815;
    color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#adicionardinheiro:hover {
    background-color: #9E4E12;
}

#adicionardinheiro svg {
    margin-left: 10px;
    padding: 2px;
    width: 35px;
    height: 35px;
    fill: #fff;
}

.pedido {
    width: 90%;
    height: 80px;
    background-color: #dbdbdb;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
}

#pedidos {
    width: 95%;
    height: 90%;
    margin-left: 20px;
    overflow: auto;
    overflow-x: hidden;
}

#fotoicon {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#fotoprofile {
    width: 100%;
    border-radius: 50%;
    cursor: pointer;
}

#fotoprofile:hover {
    opacity: 70%;
}

#backgroundinputicon {
    display: flex;
    align-items: center;
    justify-content: center;
}

#iconperson2 {
    width: 180px !important;
    height: 180px !important;
    border-radius: 100%;
    transition: 0.3s;
    border: 6px solid transparent;
}

#iconperson2:hover {
    border: 6px solid #c2c6ca;
}

#infosprofile {
    height: 80%;
    width: 50%;
    display: grid;
    align-items: center;
    justify-content: center;
}

#inputicon {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#infoprobileinput {
    height: 45px;
    background-color: #dbdbdb;
    border: 1px solid #b6b6b6;
    opacity: 70%;
    border-radius: 10px;
    color: #000;
    font-weight: 500;
    cursor: pointer;
    padding-left: 10px;
    padding-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#mainmodal #infoprobileinput {
    text-overflow: inherit !important;
}

#infoprobileinput:hover {
    border: 1px solid #a7a6a6;
}

#divisiontwo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#imgproduto {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin: 10px;
}

#textos {
    margin-top: 10px;
    width: 90%;
    height: 100%;
    font-size: 13px;
}

#inserirdinheiro {
    margin-top: 25px;
    background-color: #c7c7c7;
    height: 100px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #b6b6b6;
}

#modal #inserirdinheiro {
    margin-top: 50px;
    border: none !important;
}

#modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.178);
    position: absolute;
    top: 0;
    align-items: center;
    justify-content: center;
    display: none;
}

#fundomodal {
    width: 30%;
    height: 65%;
    border-radius: 5px;
    background-color: #9E4E12;
    margin-bottom: 5px;
}

#mainmodal {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#person .ionicon {
    fill: #fff;
    width: 22px;
}

#metamask {
    width: 100px;
    height: 100px;
}

#mainmodal #infoprobileinput {
    width: 100%;
    opacity: 100%;
    padding-right: 15px;
}

#mainmodal #inserirdinheiro {
    background-color: transparent;
}

#mainmodal #adicionardinheiro:hover {
    background-color: #c55907;
}

#setabaixo {
    width: 50px;
}

#fundoseta {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#inputcoin {
    width: 90%;
    height: 90%;
    outline: none;
    background-color: transparent;
    border: none;
}

#headermodal {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#fundoxis {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#xis {
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #793604;
    color: #fff;
    margin-right: 10px;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid #5a2801;
}

#botaocomprar {
    margin-top: 15px;
    background-color: #d46815;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
    color: #fff;
    width: 150px;
    height: 50px;
    border: none;
}

#botaocomprar:hover {
    background-color: #964406;
}

#fundovazio {
    margin-top: 50px;
    text-align: center;
}

@media(max-width: 1050px) {
    #iconperson2 {
        width: 130px !important;
        height: 130px !important;
    }
    #fundomodal {
        width: 60%;
    }
}

@media(max-width: 600px) {
    #containernav a {
        width: 80px;
        font-size: 14px;
    }
    #fundomodal {
        width: 90%;
    }
    #icon {
        width: 60px;
        height: 60px;
    }
    #profilebackground {
        display: block;
    }
    #divisiononebackground {
        width: 100%;
    }
    #historico {
        width: 100%;
        margin-left: 0px;
        margin-top: 50px;
    }
    #fundodivionsone {
        width: 100%;
    }
}