body{
    width: 100%;
    height: 100vh;
    background-image: url('http://1.bp.blogspot.com/-NdDzxlAMI0I/VH3Gkv1neqI/AAAAAAAACBA/BlHgy8Rb8tY/s1600/efeit%2Bonda.png');
}

* {
    margin: 0;
}

body{
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    width: 6px;
    overflow-y: scroll;
    background: grey;
    box-shadow: inset 0 0 4px #707070;
}

::-webkit-scrollbar-thumb {
    background: #535353;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background: #424242;
}

::-webkit-scrollbar-thumb:active{
    background: #000;
}


#container {
    height: 100vh;
}

#imgproduto{
    width: 200px;
    height: 180px;
}

#headercontainer {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 100%;
    background-color: #9E4E12;
}

#icon {
    margin-left: 50px;
    height: 70px;
    background-color: #fff;
    border-radius: 8px;
}

#containernav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 1;
    margin-left: 10px;

}

#containernav a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    margin-left: 10px;
    color: #fff;
    width: 120px;
    height: 60%;
    transition: 0.3s;
    border-radius: 8px;
}

#containernav a:hover {
    background-color: #d46815;
    color: #fff;
}

#person {
    margin-right: 50px;
    width: 170px;
    height: 120px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#iconperson {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #d46815;
    border: 3px solid #fff;
    cursor: pointer;
    transition: 0.4s;
}

#menuicon{
    position: absolute;
    right: 0;
    margin-right: 50px;
    margin-top: 390px;
    border-radius: 8px;
    z-index: 2;
    background-color: #fff;
    width: 0px;
    height: 0px;
    font-size: 0;
    display: grid;
    align-items: center;
    justify-content: center;
}

#a, #b, #c{
    display: flex;
    align-items: center;
    justify-content: center;
}

#menuicon a{
    text-decoration: none;
    color: #000;
}

#a:hover, #b:hover, #c:hover{
    background-color: rgb(235, 235, 235);
    border-radius: 8px;
}

#menuicon span{
    text-decoration: none;
    margin-left: 35px;
}


#icona, #iconb, #iconc{
    width: 0;
    position: absolute;
    margin-left: 20px;
    left: 0;
}

#a:hover, #b:hover, #c:hover{
    background-color: rgb(235, 235, 235);
    color: #d46815;
    fill: #d46815;
    cursor: pointer;
}

#menuicon .ionicon{
    position: absolute;
    margin-left: 20px;
    left: 0;
}